/*
* Estilos para el navbar.
*/

.navbar {
    background-color: $dark;
    a {
        color: $light;

        &:hover, &:focus, &.active {
            color: $info !important;
        }
    }
    .dropdown-menu {
        background-color: $dark;
        .dropdown-item {
            color: $light;
            &:hover, &:focus, &.active {
                color: $info;
            }
        }
    }
}

// Altura fija del logo del navbar.
.navbar-brand img {
    height: 120px;
    width: 120px;
}

// En dispositivos medianos, el color de fondo y el color
// de los enlaces del navbar tendrán mayor contraste.
@media (max-width: 768px) {
    .navbar {
        background-color: darken($color: $dark, $amount: 30%);

        .nav-link {
            color: darken($color: $warning, $amount: 10%);
            &:hover, &:focus, &.active {
                color: $info !important;
            }
        }
        .dropdown-menu {
            background-color: darken($color: $dark, $amount: 30%);
            .dropdown-item {
                color: darken($color: $warning, $amount: 10%);
                &:hover, &:focus, &.active {
                    color: $info;
                }
            }
        }
        i {
            color: $light;
            font-size: 2.5rem;
        }
        form {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
}